.global-filter {
    border: 1px solid #3b82f6;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, box-shadow 0.3s ease;

    .filter-span {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2563eb;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;
        background-color: #e8f0fe !important;
    }

    .filter-input {
        background-color: #e8f0fe !important;
        border: none;
        outline: none;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0rem;
        transition: width 0.3s ease, opacity 0.3s ease;
        height: 40px;
        color: var(--primary-800);
    }

    &:hover {
        border-radius: 3rem;
    }

}

.global-filter.has-value .filter-input {
    width: 250px;
    opacity: 1;
}

.global-filter.no-value .filter-input {
    width: 0;
    opacity: 0;
}

.action_section {
    padding-right: 0.5rem;
}